<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pmsserver.mapper.MTypeMapper">
    <select id="getTypes" resultType="com.example.pmsserver.bean.MType">
        SELECT * FROM medicine_type WHERE uid=#{uid}
    </select>
    <select id="getTypeById" resultType="com.example.pmsserver.bean.MType">
        SELECT * FROM medicine_type WHERE id=#{id}
    </select>
    <insert id="addType" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO medicine_type(cateName,uid,subnumber) VALUES (#{cateName},#{uid},#{subNumber})
    </insert>
    <select id="getTypeByName" resultType="com.example.pmsserver.bean.MType">
        SELECT * FROM medicine_type WHERE uid=#{uid} AND cateName=#{cateName}
    </select>
    <update id="updateName">
        UPDATE medicine_type set cateName=#{cateName} WHERE id=#{id}
    </update>
    <update id="updatesubNumber">
        UPDATE medicine_type set subNumber=#{subNumber} WHERE id=#{id}
    </update>
    <delete id="deleteType">
        DELETE FROM medicine_type WHERE id = #{id}
    </delete>

</mapper>